/* Language Switching Buttons as Simple Horizontal Block */

.qtranxs-lang-switch-wrap {
	margin: 8px 0 4px;
}

.qtranxs-lang-switch, .qtranxs-lang-copy {
	margin: 1px 2px 1px 0;
	display: inline-block;
}

.qtranxs-lang-switch .button, .qtranxs-lang-copy .button {
	height: auto;
	padding: 0 6px;
	border-radius: 0;
	vertical-align: initial;
}

.qtranxs-lang-switch-wrap.copying .qtranxs-lang-switch:not(.active) .button {
	cursor: alias;
	border: dashed 1px #0085ba;
}

.qtranxs-lang-switch-wrap.copying .qtranxs-lang-switch.active .button {
	cursor: default;
	border: double 1px #0085ba;
}

.qtranxs-lang-switch img {
	vertical-align: middle;
	margin-right: 4px;
	margin-bottom: 2px;
}

/* Button "Copy From" */

.qtranxs-lang-copy .button {
	margin-left: 20px;
	font-size: 12px;
	border-radius: 12px;
	padding: 0 4px;
}

.qtranxs-lang-copy .dashicons {
	vertical-align: initial;
	line-height: initial;
	font-size: 12px;
}

.qtranxs-lang-switch-wrap.copying .qtranxs-lang-copy .button {
	cursor: alias;
}
