/* Language Switching Buttons as Simple Horizontal Block */

.qtranxs-lang-switch-wrap {
	margin: 8px 0 4px;
}

.qtranxs-lang-switch-wrap li {
	margin: 1px 2px 1px 0;
	display: inline-block;
}

.qtranxs-lang-switch-wrap li .button {
	height: auto;
	padding: 0 6px;
	border-radius: 0;
	vertical-align: initial;
}

.qtranxs-lang-switch-wrap.copying .qtranxs-lang-switch:not(.active) .button {
	cursor: alias;
	border: dashed 1px #0085ba;
}

.qtranxs-lang-switch img {
	vertical-align: middle;
	margin-right: 4px;
	margin-bottom: 2px;
}

/* Button "Copy From" */

li.qtranxs-lang-copy {
	margin-left: 20px;
}

.qtranxs-lang-switch-wrap.copying li.qtranxs-lang-copy .button {
	cursor: alias;
}
